* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: linear-gradient(145deg, #2D266C 0%, #375ee3 80%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 10rem;
}

@media (max-width: 768px) {
  header {
    display: block;
    padding: 0;
    width: 100vw;
  }

  header .home {
    margin: .5rem;
    float: left;
  }
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 350px;
}

.menu a {
  color: white;
}

.menu a:hover {
  opacity: .7;
}

.menu img {
  color: white;
  height: 1.25rem;
}

.button-menu {
  display: none;
}

@media (max-width: 768px) {
  .menu {
    width: 100vw;
    display: block;
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
  }

  .expanded-menu {
    max-height: 250px;
  }

  .menu a {
    display: block;
    padding: 20px 25px;
  }

  .menu img {
    display: none;
  }

  .button-menu {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    position: relative;
    margin: 1rem;
    width: 3rem;
    height: 3rem;
  }

  .button-menu svg {
    width: 2rem;
    height: 1.5rem;
    color: white;
  }
}

footer {
  background: linear-gradient(145deg, #2D266C 0%, #375ee3 80%);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 15rem;
  padding: 0 10rem;
}

footer .principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80%;
  overflow: hidden;
}

footer .logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  padding: 2rem 0;
  gap: 0.5rem;
}

footer .sociais {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10rem;
}

footer .logo nav {
  display: flex;
  justify-content: space-around;
  width: 18rem;
}

footer .logo nav a{
  color: white;
}

footer .logo nav a:hover{
  opacity: .7;
}

footer .parceiros {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2rem 0;
  gap: 0.5rem;
}

footer .parceiros span {
  font-size: large;
  color: white;
}

footer .parceiros img {
  width: 22.5rem;
  border-radius: 5px;
}

footer span {
  color: white;
}

a {
  text-decoration: none;
}